[project]
name = "mlalgofromscratch"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "datasets>=4.4.1",
    "ipykernel>=7.1.0",
    "tokenizers>=0.22.1",
    "torch>=2.9.1",
]
